## Импорт библиотек

In [1]:
import sqlalchemy
import psycopg2
import pandas as pd

## Подключение к бд

In [2]:
# 1. Настраиваем параметры подключения
DB_USER = 'postgres'
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_NAME = 'Udacity'

# 2. Создаем строку подключения
connection_string = f'postgresql://{DB_USER}@{DB_HOST}:{DB_PORT}/{DB_NAME}'

# 3. Создаем движок подключения
engine = sqlalchemy.create_engine(connection_string)

## Выгружаем данные из бд

In [4]:
qerry = """
SELECT *
FROM ab_data_clean
order by "timestamp" DESC
"""

df = pd.read_sql(qerry, engine)
df.head()

   user_id                   timestamp      group landing_page  converted
0   920411  2017-01-24 13:41:54.460509    control     old_page          0
1   836373  2017-01-24 13:41:52.604673    control     old_page          0
2   843121  2017-01-24 13:41:44.097174  treatment     new_page          0
3   808330  2017-01-24 13:41:19.152664    control     old_page          0
4   799244  2017-01-24 13:41:15.325359  treatment     new_page          0